registry=https://registry.npmmirror.com
disturl=https://registry.npmmirror.com/node
sass_binary_site=https://registry.npmmirror.com/node-sass/
fse_binary_host_mirror=https://registry.npmmirror.com/fsevents
