@use '../public.scss';

.pageContainer {
  svg {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    &:focus {
      outline: none !important;
    }
  }
  :global(.bjs-powered-by) {
    display: none !important;
  }
}
